In [1]:
import pandas as pd

In [2]:
maxvol=80
dim=9

In [3]:
comp=["Glucose","NH4NO3","MgSO4","KH2PO4","Na2HPO4","Na2EDTA","CaCl2","FeSO4","MnSO4"]
voli=[maxvol]*dim

In [4]:
datos=pd.DataFrame({"compound":comp,"max_vol":voli})

In [5]:
datos

  compound  max_vol
0  Glucose       80
1   NH4NO3       80
2    MgSO4       80
3   KH2PO4       80
4  Na2HPO4       80
5  Na2EDTA       80
6    CaCl2       80
7    FeSO4       80
8    MnSO4       80

In [7]:
datos["min_concentration_mM"]=[0]*dim
datos["max_concentration_mM"]=[4,240,2,50,50,0.2,0.2,0.2,0.2]

In [8]:
datos["max_stock_mM"]=800*datos["max_concentration_mM"]/(datos["max_vol"])

In [9]:
datos.to_csv("stock_table.csv",index=False)

In [10]:
moldic=dict(zip(comp,[10, 80.043,246.47,136.086,141.96,374.27,110.98,151.908,151.001]))

In [11]:
datos["weight_250_volume_g"]=(datos["max_stock_mM"]*datos["compound"].apply(lambda x: moldic[x])*250)/(1000*1000)
datos["weight_250_volume_mg"]=datos["weight_250_volume_g"]*1000

In [12]:
datos

,compound,max_vol,min_concentration_mM,max_concentration_mM,max_stock_mM,weight_250_volume_g,weight_250_volume_mg
0,Glucose,80,0,4.0,40.0,0.100000,100.0000
1,NH4NO3,80,0,240.0,2400.0,48.025800,48025.8000
2,MgSO4,80,0,2.0,20.0,1.232350,1232.3500
3,KH2PO4,80,0,50.0,500.0,17.010750,17010.7500
4,Na2HPO4,80,0,50.0,500.0,17.745000,17745.0000
5,Na2EDTA,80,0,0.2,2.0,0.187135,187.1350
6,CaCl2,80,0,0.2,2.0,0.055490,55.4900
7,FeSO4,80,0,0.2,2.0,0.075954,75.9540
8,MnSO4,80,0,0.2,2.0,0.075500,75.5005

In [13]:
revi=datos[["compound","max_stock_mM"]].copy()

In [14]:
revi["cooper_concentration_mM"]=[4,50,0.8,30,40,0.004,0.007,0.004,0.001]

In [15]:
#revi["copper_volume"]=
revi["cooper_salts_2x_volume_100_ml"]=2*revi["cooper_concentration_mM"]*100/revi["max_stock_mM"]
revi["cooper_volume_100_ml"]=revi["cooper_concentration_mM"]*200/revi["max_stock_mM"]

In [16]:
revi["max_stock_M"]=revi["max_stock_mM"]/1000

In [17]:
revi.to_csv("cooper_preparation.csv",index=False)

In [18]:
180-sum(revi["cooper_volume_100_ml"])

118.23333333333332

In [19]:
100-(8+12+16+0.4+0.7+0.4+0.1)

62.4