In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("0_master_table.csv")

In [4]:
df.sort_values("sample")

,well_position,sample,replicate,Glucose,NH4Cl,MgSO4,KH2PO4,Na2HPO4,CaCl2,NaCl,water
18,B3,0_1,0_1_3,80,80,80,80,80,80,80,160.0
24,F2,0_1,0_1_1,80,80,80,80,80,80,80,160.0
3,C7,0_1,0_1_4,80,80,80,80,80,80,80,160.0
28,E5,0_1,0_1_2,80,80,80,80,80,80,80,160.0
35,B7,0_2,0_2_4,80,80,80,80,80,80,80,160.0
12,A4,0_2,0_2_3,80,80,80,80,80,80,80,160.0
19,F5,0_2,0_2_2,80,80,80,80,80,80,80,160.0
10,E3,0_2,0_2_1,80,80,80,80,80,80,80,160.0
6,F3,0_3,0_3_1,80,80,80,80,80,80,80,160.0
11,B2,0_3,0_3_3,80,80,80,80,80,80,80,160.0
4,A6,0_3,0_3_4,80,80,80,80,80,80,80,160.0
27,F7,0_3,0_3_2,80,80,80,80,80,80,80,160.0
29,F6,0_4,0_4_2,80,80,80,80,80,80,80,160.0
5,C5,0_4,0_4_4,80,80,80,80,80,80,80,160.0
26,E2,0_4,0_4_1,80,80,80,80,80,80,80,160.0
23,C4,0_4,0_4_3,80,80,80,80,80,80,80,160.0
13,B6,0_5,0_5_4,80,80,80,80,80,80,80,160.0
32,E7,0_5,0_5_2,80,80,80,80,80,80,80,160.0
1,A2,0_5,0_5_3,80,80,80,80,80,80,80,160.0
7,E4,0_5,0_5_1,80,80,80,80,80,80,80,160.0
22,E6,0_6,0_6_2,80,80,80,80,80,80,80,160.0
0,D2,0_6,0_6_1,80,80,80,80,80,80,80,160.0
14,A5,0_6,0_6_4,80,80,80,80,80,80,80,160.0
8,B4,0_6,0_6_3,80,80,80,80,80,80,80,160.0
20,D5,0_7,0_7_2,80,80,80,80,80,80,80,160.0
16,C6,0_7,0_7_4,80,80,80,80,80,80,80,160.0
31,C2,0_7,0_7_3,80,80,80,80,80,80,80,160.0
2,D3,0_7,0_7_1,80,80,80,80,80,80,80,160.0
25,D7,0_CTRL,0_CTRL_2,80,80,80,80,80,80,80,NaN
9,A7,0_CTRL,0_CTRL_4,80,80,80,80,80,80,80,NaN
30,A3,0_CTRL,0_CTRL_3,80,80,80,80,80,80,80,NaN
21,D4,0_CTRL,0_CTRL_1,80,80,80,80,80,80,80,NaN
34,D6,0_REF,0_REF_2,80,80,80,80,80,80,80,NaN
15,F4,0_REF,0_REF_1,80,80,80,80,80,80,80,NaN
33,C3,0_REF,0_REF_3,80,80,80,80,80,80,80,NaN
17,B5,0_REF,0_REF_4,80,80,80,80,80,80,80,NaN