In [1]:
import pandas as pd

In [2]:
maxvol=80
dim=7

In [3]:
comp=["Glucose","NH4Cl","MgSO4","KH2PO4","Na2HPO4","CaCl2","NaCl"]
voli=[maxvol]*dim

In [4]:
datos=pd.DataFrame({"compound":comp,"max_vol":voli})

In [5]:
datos

  compound  max_vol
0  Glucose       80
1    NH4Cl       80
2    MgSO4       80
3   KH2PO4       80
4  Na2HPO4       80
5    CaCl2       80
6     NaCl       80

In [6]:
datos["min_concentration_mM"]=[0]*dim
datos["max_concentration_mM"]=[4,240,2,50,50,0.2,50]

In [7]:
datos["max_stock_mM"]=800*datos["max_concentration_mM"]/(datos["max_vol"])

In [8]:
datos.to_csv("stock_table_M9.csv",index=False)

In [9]:

#glucose in %, so 10
#nh4cl 53.491
#mgso4 heptahydrate 246.47
#kh2po4 136.086
#na2hpo4 141.96
#cacl2 dihydrate 147.01
#nacl 58.443
moldic=dict(zip(comp,[10, 53.491,246.47,136.086,141.96,147.01,58.443]))

In [10]:
datos["weight_250_volume_g"]=(datos["max_stock_mM"]*datos["compound"].apply(lambda x: moldic[x])*250)/(1000*1000)
datos["weight_250_volume_mg"]=datos["weight_250_volume_g"]*1000

In [11]:
datos.to_csv("M9_preparation_single_components.csv",index=False)
datos.to_excel("M9_preparation_single_components.xlsx", index=False)

In [12]:
revi=datos[["compound","max_stock_mM"]].copy()

In [13]:
revi["M9_concentration_mM"]=[0.4,18.7,2,22.04,42.26,0.1,8.55]

In [14]:
#revi["copper_volume"]=
revi["M9_salts_2x_volume_100_ml"]=2*revi["M9_concentration_mM"]*100/revi["max_stock_mM"]
revi["M9_volume_20_ml"]=revi["M9_concentration_mM"]*20*1000/revi["max_stock_mM"]

In [15]:
revi["max_stock_M"]=revi["max_stock_mM"]/1000

In [16]:
revi.to_csv("M9_preparation_tubes.csv",index=False)
revi.to_excel("M9_preparation_tubes.xlsx", index=False)

In [17]:
20000-sum(revi["M9_volume_20_ml"])

13730.166666666668

In [36]:
#100-(8+12+16+0.4+0.7+0.4+0.1)

In [37]:
revi

,compound,max_stock_mM,M9_concentration_mM,M9_salts_2x_volume_100_ml,M9_volume_20_ml,max_stock_M
0,Glucose,40.0,0.40,2.000000,200.000000,0.040
1,NH4Cl,2400.0,18.70,1.558333,155.833333,2.400
2,MgSO4,20.0,2.00,20.000000,2000.000000,0.020
3,KH2PO4,500.0,22.04,8.816000,881.600000,0.500
4,Na2HPO4,500.0,42.26,16.904000,1690.400000,0.500
5,CaCl2,2.0,0.10,10.000000,1000.000000,0.002
6,NaCl,500.0,8.55,3.420000,342.000000,0.500

In [57]:
revi["M9_volume_20_ml"]/20*revi["max_stock_mM"]

0     0.40
1    18.70
2     2.00
3    22.04
4    42.26
5     0.10
6     8.55
dtype: float64