In [22]:
import pandas as pd

In [23]:
maxvol=80
dim=7

In [24]:
comp=["Glucose","NH4Cl","MgSO4","KH2PO4","Na2HPO4","CaCl2","NaCl"]
voli=[maxvol]*dim

In [25]:
datos=pd.DataFrame({"compound":comp,"max_vol":voli})

In [26]:
datos

  compound  max_vol
0  Glucose       80
1    NH4Cl       80
2    MgSO4       80
3   KH2PO4       80
4  Na2HPO4       80
5    CaCl2       80
6     NaCl       80

In [27]:
datos["min_concentration_mM"]=[0]*dim
datos["max_concentration_mM"]=[4,240,2,50,50,0.2,50]

In [28]:
datos["max_stock_mM"]=800*datos["max_concentration_mM"]/(datos["max_vol"])

In [29]:
datos.to_csv("stock_table_M9.csv",index=False)

In [30]:
moldic=dict(zip(comp,[10, 53.491,246.47,136.086,141.96,110.98,58.44]))

In [31]:
datos["weight_250_volume_g"]=(datos["max_stock_mM"]*datos["compound"].apply(lambda x: moldic[x])*250)/(1000*1000)
datos["weight_250_volume_mg"]=datos["weight_250_volume_g"]*1000

In [32]:
datos

,compound,max_vol,min_concentration_mM,max_concentration_mM,max_stock_mM,weight_250_volume_g,weight_250_volume_mg
0,Glucose,80,0,4.0,40.0,0.10000,100.00
1,NH4Cl,80,0,240.0,2400.0,32.09460,32094.60
2,MgSO4,80,0,2.0,20.0,1.23235,1232.35
3,KH2PO4,80,0,50.0,500.0,17.01075,17010.75
4,Na2HPO4,80,0,50.0,500.0,17.74500,17745.00
5,CaCl2,80,0,0.2,2.0,0.05549,55.49
6,NaCl,80,0,50.0,500.0,7.30500,7305.00

In [33]:
revi=datos[["compound","max_stock_mM"]].copy()

In [34]:
revi["M9_concentration_mM"]=[0.4,18.7,2,22,42.3,0.1,8.55]

In [35]:
#revi["copper_volume"]=
revi["M9_salts_2x_volume_100_ml"]=2*revi["M9_concentration_mM"]*100/revi["max_stock_mM"]
revi["M9_volume_100_ml"]=revi["M9_concentration_mM"]*200/revi["max_stock_mM"]

In [36]:
revi["max_stock_M"]=revi["max_stock_mM"]/1000

In [37]:
revi.to_csv("M9_preparation.csv",index=False)

In [38]:
180-sum(revi["M9_volume_100_ml"])

117.30166666666666

In [39]:
#100-(8+12+16+0.4+0.7+0.4+0.1)

62.4