In [1]:
import pandas as pd

In [2]:
maxvol=80
dim=9

In [3]:
comp=["Glucose","NH4NO3","MgSO4","KH2PO4","Na2HPO4","Na2EDTA","CaCl2","FeSO4","MnSO4"]
voli=[maxvol]*dim

In [4]:
datos=pd.DataFrame({"compound":comp,"max_vol":voli})

In [5]:
datos

  compound  max_vol
0  Glucose       80
1   NH4NO3       80
2    MgSO4       80
3   KH2PO4       80
4  Na2HPO4       80
5  Na2EDTA       80
6    CaCl2       80
7    FeSO4       80
8    MnSO4       80

In [6]:
datos["min_concentration_mM"]=[0]*dim
datos["max_concentration_mM"]=[4,240,2,50,50,0.2,0.2,0.2,0.2]

In [7]:
datos["max_stock_mM"]=800*datos["max_concentration_mM"]/(datos["max_vol"])

In [8]:
datos.to_csv("stock_table_cooper.csv",index=False)

In [9]:
#glucose in %, so 10
#nh4no3 80.043
#mgso4 heptahydrate 246.47
#kh2po4 136.086
#na2hpo4 141.96
#naedta dihydrate 374.27
#cacl2 dihydrate 147.01
#feso4 heptahydrate 278.02
#mnso4 monohydrate 169.02
moldic=dict(zip(comp,[10, 80.043,246.47,136.086,141.96,372.24,147.01,278.02,169.02]))

In [10]:
datos["weight_250_volume_g"]=(datos["max_stock_mM"]*datos["compound"].apply(lambda x: moldic[x])*250)/(1000*1000)
datos["weight_250_volume_mg"]=datos["weight_250_volume_g"]*1000

In [11]:
datos.to_csv("cooper_preparation_single_components.csv",index=False)
datos.to_excel("cooper_preparation_single_components.xlsx", index=False)

In [12]:
revi=datos[["compound","max_stock_mM"]].copy()

In [13]:
revi["cooper_concentration_mM"]=[4,50,0.8,30,40,0.004,0.007,0.004,0.001]

In [14]:
#revi["copper_volume"]=
#revi["copper_volume"]=
revi["cooper_salts_2x_volume_100_ml"]=2*revi["cooper_concentration_mM"]*100/revi["max_stock_mM"]
revi["cooper_volume_20_ml"]=revi["cooper_concentration_mM"]*20*1000/revi["max_stock_mM"]

In [15]:
revi

,compound,max_stock_mM,cooper_concentration_mM,cooper_salts_2x_volume_100_ml,cooper_volume_20_ml
0,Glucose,40.0,4.000,20.000000,2000.000000
1,NH4NO3,2400.0,50.000,4.166667,416.666667
2,MgSO4,20.0,0.800,8.000000,800.000000
3,KH2PO4,500.0,30.000,12.000000,1200.000000
4,Na2HPO4,500.0,40.000,16.000000,1600.000000
5,Na2EDTA,2.0,0.004,0.400000,40.000000
6,CaCl2,2.0,0.007,0.700000,70.000000
7,FeSO4,2.0,0.004,0.400000,40.000000
8,MnSO4,2.0,0.001,0.100000,10.000000

In [16]:
revi["max_stock_M"]=revi["max_stock_mM"]/1000

In [17]:
revi.to_csv("cooper_preparation_tubes.csv",index=False)
revi.to_excel("cooper_preparation_tubes.xlsx", index=False)

In [18]:
20000-sum(revi["cooper_volume_20_ml"])

13823.333333333334